@{
    ViewBag.Title = "Home Page";
}

<button class="btn btn-primary" id="demo">Export</button>
<script>
    $("#demo").click(function () {
        window.location.href = "/Home/Report";
    })
</script>